* {
    font-family: "Poppins", sans-serif;

}

.section-container{
    width:1222px ;
    margin: auto;

}
.car-background {
    display: flex;
    max-width: 1222px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

.car-background h3{
    color: blue;
}

.car-background>.left-column {
    text-transform: capitalize;
}

.car-background>.left-column>h1 {
    font-size: 100px;
}

.car-background>.right-column > p{
    width: 85%;

}



.left-column{
    width: 50%;
}

.right-column{
    width: 50%;
}

.car-background span {
    color: blue;
}

.washed-car {
    display: flex;
    justify-content: center;
    margin-top: -15px;
    max-width: 1150px;
    margin: auto;
    margin-top: -200px;
}

.washed-car .left-column{
    width: 70%;
}

.contact-car-details{
    background-color: gainsboro;
    display: flex;
    /* max-width: 1150px; */
}

.contact-car-details .section-container{
    display: flex;
    column-gap: 30px;
}



/* Experience Div */

.experience{
    background-color: rgb(25, 47, 85);
}